<h2>{{ nombre_componente }}</h2>

<h3>Selector de colores</h3>
<input type="text" [(ngModel)]="color_seleccionado">
<button (click)="logColorSeleccionado()">Mostrar log</button>
<pre [style.border]="color_seleccionado == 'red' ? '3px solid purple' : '1px solid gray'"><b>Color seleccionado: </b> {{ color_seleccionado }}</pre>
<div [ngStyle]="{
    'background-color': color_seleccionado,
    'width': '200px',
    'height': '200px',
    'margin': '8px 0'
}">
</div>

<div *ngIf="contradado == false">
    <h3>Trabajador de planta</h3>
    <button (click)="cambiaEstadoContradado( true )" >Candidatos</button>
    <ul [ngStyle]="{
        'background-color': color,
        'color': 'white',
        'padding': '8px'
    }">
        <li><b>Nombre: </b>{{ empleado .nombre }}</li>
        <li><b>Edad: </b>{{ empleado .edad }}</li>
        <li><b>Cargo: </b>{{ empleado .cargo }}</li>
        <li><b>Contratado: </b>
            <span *ngIf="empleado .contratado">Vigente</span>
            <span *ngIf="! empleado .contratado">No contratado o caduco</span>
        </li>
    </ul>
</div>

<div *ngIf="contradado == true">
    <h3>Listado de candidatos para contratar</h3>
    <button (click)="cambiaEstadoContradado( false )">Equipo actual</button>
    <ul *ngFor="let candidato of equipo; let i = index;">
        <li><b>Candidato: </b>{{ i + 1 }}</li>
        <li><b>Nombre: </b>{{ candidato .nombre }}</li>
        <li><b>Edad: </b>{{ candidato .edad }}</li>
        <li><b>Cargo: </b>{{ candidato .cargo }}</li>
        <li><b>Contratado: </b>
            <span [ngSwitch]="candidato .estado_seleccion">
                <span *ngIf="candidato .contratado" [ngStyle]="{
                    'color': 'green',
                    'font-weight': 'bold',
                    'text-transform': 'uppercase'
                }">
                    Aceptado,
                    <span *ngSwitchCase="'contratado'" >Contratado</span>
                </span>
                <span *ngIf="! candidato .contratado" [ngStyle]="{
                    'color': 'blue',
                    'font-weight': 'normal',
                    'text-transform': 'lowercase'
                }">
                    Pendiente,
                    <span *ngSwitchCase="'entrevista'">entrevista</span>
                    <span *ngSwitchCase="'prueba'">prueba técnica</span>
                    <span *ngSwitchCase="'resultado'">resultado</span>
                </span>
            </span>
            <!-- Cuando se usan [] los corchetes se dice que es una directiva de atributo (elemento HTML) -->
        </li>
    </ul>
</div>
