<h2>{{ nombre_componente }}</h2>

<div *ngIf="contradado == false">
    <h3>Trabajador de planta</h3>
    <button (click)="cambiaEstadoContradado( true )" >Pendiente de contrato</button>
    <ul>
        <li><b>Nombre: </b>{{ empleado .nombre }}</li>
        <li><b>Edad: </b>{{ empleado .edad }}</li>
        <li><b>Cargo: </b>{{ empleado .cargo }}</li>
        <li><b>Contratado: </b>
            <span *ngIf="empleado .contratado">Vigente</span>
            <span *ngIf="! empleado .contratado">No contratado o caduco</span>
        </li>
    </ul>
</div>

<div *ngIf="contradado == true">
    <h3>Pendientes por aprobación de contrato</h3>
    <button (click)="cambiaEstadoContradado( false )">Trabajador de planta</button>
    <ul>
        <li><b>Nombre: </b>{{ equipo[ 2 ] .nombre }}</li>
        <li><b>Edad: </b>{{ equipo[ 2 ] .edad }}</li>
        <li><b>Cargo: </b>{{ equipo[ 2 ] .cargo }}</li>
        <li><b>Contratado: </b>
            <span *ngIf="equipo[ 2 ] .contratado">Vigente</span>
            <span *ngIf="! equipo[ 2 ] .contratado">No contratado o caduco</span>
        </li>
    </ul>
</div>
