<h2>{{ title | uppercase }}</h2>
<input type="text" [(ngModel)]="prenda_a_guardar">
<button (click)="guardarPrenda()" type="button">Agregar prenda</button>
<p *ngIf="prenda_a_guardar"><b>Prenda a guardar: <span class="prenda_a_guardar">{{ prenda_a_guardar }}</span></b></p>
<div *ngIf="listado_ropa" class="">
    <h3>Listado de ropa</h3>
    <ul>
        <li *ngFor="let prenda of listado_ropa; let i = index;">
            {{ prenda | lowercase }} <button (click)="eliminarPrenda( i )">eliminar</button>
        </li>
    </ul>
</div>
<hr />
<h4>Fecha como la retorna el componente </h4>
<ul>
    <li>{{ fecha }}</li>
</ul>
<h4>Aplicando Pipe para fecha </h4>
<ul>
    <li>{{ fecha | date:'fullDate' | lowercase }}</li>
    <li>{{ fecha | date:'dd-MM-yy' }}</li>
    <li>{{ fecha | date:'yyyy/MM/dd' }}</li>
</ul>
<h4>Pipe personalizada</h4>
<p>{{ 9 | multiplica: 3 }}</p>
