<h2>{{ nombre_componente }}</h2>
<p><span>Ventas anuales: </span> {{ toneladas_vendidas }} toneladas</p>
<p><span>Responsable: </span> {{ cualquier_cosa_1 }} con {{ cualquier_cosa_2 }} años en el cargo se encuentra activo? {{ cualquier_cosa_3 }}</p>
<h3>Almacena</h3>
<ul>
    <li><span>Semillas:</span> {{ existencia_semillas }}</li>
    <li><span>Frutas:</span> {{ existencia_frutas }}</li>
</ul>
<h3>Array de datos</h3>
<ul>
    <li><span>Frutas Ácidas:</span> {{ frutas_acidas }}</li>
    <li><span>Algunos números:</span> {{ numeros }}</li>
    <li><span>Falso/Verdadero:</span> {{ falso_verdadero }}</li>
    <li><span>Cualquier cosa (4):</span> {{ cualquier_cosa_4 }}</li>
    <li><span>Cualquier cosa (6):</span> {{ cualquier_cosa_6 }}</li>
</ul>

<!--app-empleado></app-empleado-->
